$dark-gray : hsl(217, 19%, 35%);
$dark-desaturated : hsl(214, 17%, 51%);
$gray-bleu : hsl(212, 23%, 69%);
$light-gray : hsl(210, 46%, 95%);
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
html, body, .wrapper{
    width: 100%;
    height: 100%;
}
body {
    background-color: $light-gray;
    font-size: 13px;
    font-family: "Manrope";
    font-weight: 500;
    color: $dark-gray;
}
.wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


img{
    max-width: 100%;
}


.card{
    border-radius: 10px;
    background-color: white;
}
.card__image{
    border-radius: 10px 10px 0 0 ;
}

.card__content{
    padding: 40px 32px 20px 32px; 
}

.card__footer{
    padding-top:20px ;
    border-radius: 0 0 10px 10px;
}

.card__title{
    font-weight: 700;
    font-size: 18px;
    color: $dark-gray;
}

.profile, .profile__content, .share{
    display: flex;
    align-items: center;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.icon{
    margin-left: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $light-gray;

    img{
        position: relative;
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.profile__author{
    margin-left: 20px;
}
.author{
    font-weight: 700;
}
.date{
    color: $dark-desaturated ;
}
.card__footer.active{
    background-color: $dark-gray;

}
.share{
    color: white;
}
.icons{
    margin-left: 20px;
}
.share__text{
    text-transform: uppercase;
    letter-spacing: 3px;
}
.d-none{
    display: none;
}

@media all and (min-width: 765px){
    .card{
        display: flex;
        max-width: 780px;
        max-height: 280px;
    }
    .card__image{
    border-radius: 10px 0px 0px 10px ;

        width: 280px;
    }
    .card__footer{
        position: relative;
    }
    .share{
        position: absolute;
        background-color: $dark-gray;
        padding: 10px 28px;
        border-radius: 10px;
        top: -25px;
        right: -68px;
        opacity: 0;
        transition: opacity 0.3s;
        &::after{
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $dark-gray;
        }
        .share__text{
            font-size: 8px;
            color: $gray-bleu;
        }
    }
}
